.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px 25px 50px;
  border-top: 1px solid rgba(201, 201, 201, 0.6);
  cursor: pointer;
  transition: all 0.2s;
}
.project:last-of-type {
  border-bottom: 1px solid rgba(201, 201, 201, 0.6);
}

.project:hover {
  opacity: 0.5;
}

.project:hover h2 {
  transform: translateX(-10px);
}

.project:hover p {
  transform: translateX(10px);
}

.project h2 {
  font-size: 3rem;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}

@media (max-width: 768px) {
  .project h2 {
    font-size: 1.5rem;
  }
  .project p {
    font-size: 0.8rem;
  }
  .project {
    padding: 54px 20px;
  }
}

@media (max-width: 550px) {
  .project h2 {
    font-size: 1rem;
  }
}

.project p {
  transition: all 0.4s;
  font-weight: 300;
}